@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#img-fundo{
    width: 100vw;
    height: 100vh;

    background-image: url('imagens/torcida.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Centralizar */
#flex-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa Central/Login */
#container-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.666);
}

h1{
    margin: 10px 0 70px 0;
    font-size: 50px;
    font-weight: 600;
    color: black;
    -webkit-text-stroke: 1px #ff1a1a;
}


/* Content-Form*/
/* FORM */
form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.forms{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F51212;
}

input{
    padding: 10px 10px;
    border: none;
    border-radius: 30px;
    background-color: #2F2C2C;
}

/* Quando o passar o mouse pelo elemento */
input:hover{
    transition: 0.1s;
    border: 1px solid #FF0000;
}

/* Quando clicar no elemento */
input:focus{
    outline-style: none;
    border: 1px solid #FF0000;
}

/* Links */
#links{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    transition: 0.3s;
    color: #FF4646;
}

a:nth-child(2){
    -webkit-text-stroke: 0.5px black;
    color: #ffffff;
}


a:nth-child(2):hover{
    color: #FF4646;
    border-bottom: 1px solid #FF4646;
}

/* Botão */
button{
    cursor: pointer;
    width: 130px;
    padding: 4px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    color: #1F1F1F;
    background-color: #f51212df;
}

button:hover{
    transition: 0.5s;
    color: #0e0e0e;
    background-color: #FF0000;
}